{% extends "AARs/base.html" %}

{% block content %}
  <p>Topic: {{topic}}</p>

  <p>Actions:</p>
  <p>
    <a href="{% url 'AARs:new_action' topic.id %}">Add new action</a>
  </p>
  <ul>
  {% for action in actions %}
      <li>
        <p>{{ action.date_added|date:'M d, Y H:i'}}</p>
        <p>{{ action.text|linebreaks }}</p>
        <p>
          <a href="{% url 'AARs:edit_action' action.id %}">Edit action</a>
        </p>
      </li>
    {% empty %}
      <li>
        No actions have been added yet.
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
