{% extends "AARs/base.html" %}

{% block header %}
  <h2>{{ topic }}</h2>
{% endblock header %}

{% block content %}
  <p>
    <a href="{% url 'AARs:new_action' topic.id %}">Add new action</a>
  </p>

  {% for action in actions %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <small>
          {{ action.date_added|date:'M d, Y H:i' }}
        </small>
        <small>  <a href="{% url 'AARs:edit_action' action.id %}">Read or Edit Action</a></small>
      </div>
      <div class="panel-body">
        <small>
          {{ action.text|truncatewords_html:20 }}
        </small>
      </div>
    </div>
  {% empty %}
    No actions have been added yet.
  {% endfor %}

{% endblock content %}
